@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthLinks />
        </div>

        <div class="content px-4">
            <CascadingValue Name="HeadingColor" Value="@_color">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    private readonly string _color = "#0505b5";
}