@page "/reportError/{errorCode:int}/{errorDescription}"

<h3>
    The error with the @ErrorCode code and @ErrorDescription description has been reported.
</h3>
<p>
    Click <a href="/">here</a> to navigate to the Home page.
</p>