<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="price desc">Price DESC</option>
    </select>
</section>
